body
	font-family: 'Roboto', sans-serif
.app
	padding-top: 5rem
	display: flex
	justify-content: center

.wrap
	width: 500px

.select
	width: 100%
	position: relative
	&.open
		.select__dropdown
			display: block
	&__input
		border-radius: 5px
		border: 1px solid #ccc
		height: 46px
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0 1rem

	&__dropdown
		display: none
		border-bottom-left-radius: 5px
		border-bottom-right-radius: 5px
		top: 46px
		left: 0
		right: 0
		box-shadow: 2px 3px 5px rgba(0, 0, 0, .3)
	&__search
		margin: 10px 10px
		padding: 10px 10px
		width: 455px
		&:focus
			outline: none
	&__list
		max-height: 200px
		overflow-y: auto
		margin: 0
		padding: 0
		list-style: none

	&__item
		padding: 1rem
		border-bottom: 1px solid #ccc
		&.selected
			background-color: #e6e6e6

		&:hover
			background-color: #eee
			cursor: pointer
			transition: .15s background-color easy-in
